{% extends "layout.html" %}

<!-- page title -->
{% block title %} Home {% endblock %}

<!-- Homepage body -->
{% block main%}
<header id="home-header">
  <div class="container header">
    <div id="logo">
      <h3>The</h3>
      <h1>Note<span class="bold">App</span></h1>
    </div>
    <div id="search-div">
      <form action="/result" method="post">
        <input type="text" name="search" id="search-field" />
        <input type="submit" value="search" class="btn btn-accent1" />
      </form>
    </div>
    <div class="user">
      <h3 id="greet">Hello, {{user_name}}</h3>
      <div id="controls">
        <button class="btn btn-primary" id="add-note">add note</button>
        <a href="/logout" class="btn btn-secondary">log out</a>
      </div>
    </div>
  </div>
</header>
<div class="container" id="notes-list">
  {% for note in user_notes %}
  <div class="card {{note['color']}}">
    <p class="timestamp">{{note["timestamp"]}}</p>
    <p class="content">{{ note["content"] }}</p>
  </div>
  {% endfor %}
</div>
<dialog id="note-dialog">
  <h3>Type your note bellow:</h3>
  <form action="/new-note" method="post">
    <textarea name="note" id="note" minlength="5" required></textarea>
    <input type="submit" value="submit" class="btn btn-primary" />
  </form>
</dialog>

{% endblock %}
