{% extends "layout.html" %}

<!-- page title -->
{% block title %} Home {% endblock %}

<!-- Homepage body -->
{% block main%}
<div class="container login">
  <div class="name-form">
    <h1 id="title">This is The Note App</h1>
    <p>Please enter your first name</p>
    <form action="/login" method="post">
      <input type="text" name="user-name" id="name" placeholder="Ex. John" />
      <input type="submit" value="LOGIN" id="submit" class="btn btn-primary" />
    </form>
  </div>
</div>
{% endblock %}
